@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
}

.swiper-button-next, .swiper-button-prev {
  color: #FE78A6 !important; /* Substitua 'red' pela cor desejada */
  backdrop-filter: blur(2px) !important;
}


.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  right: 4px;
  z-index: 20;

}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  left: 4px;
  z-index: 20;
}

.swiper-pagination-bullet {
  background: #FF3E7F !important; /* Sua cor desejada aqui */
}

